:root{
  --main-color: #005C89;
}

.form-group label{
  font-weight: bold;
}

body.login-page{
  background-image: url('/assets/img/login_bg.jpg');
  background-size: cover;
}

.login-container{
  margin: auto 0;
  background-color: rgba(221,221,221, .6);
  padding: 25px 25px 0px 25px;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--main-color);
}

.login-row{
  height: 100vh;
}

.login-container h1 .lodestar-logo{
  height: 150px;
  margin-bottom: 15px;
}

.login-container .copyright-footer{
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

